venv/
__pycache__/
staticfiles/
cert.pem
key.pem
.env
test_script.py
.venv/
locale/**/LC_MESSAGES/*.mo
.DS_Store
logs/*
logs
gatling/results
gatling/results/*
gatling/resources/*
.idea
!/shards.json
shards.json
media/