services:
  web:
    build: .
    container_name: knpp_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - media_files:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
      - DB_HOST=host.docker.internal
    restart: unless-stopped

volumes:
  postgres_data:
  media_files:

