services:
  web:
    build: .
    container_name: knpp_web
    command: gunicorn config.wsgi:application --bind 0.0.0.0:9005 --workers 3 --timeout 120 --access-logfile - --error-logfile -
    volumes:
      - .:/app
      - media_files:/app/media
    ports:
      - "9005:9005"
    env_file:
      - .env
    environment:
      - DB_HOST=109.248.32.194
    restart: unless-stopped

volumes:
  postgres_data:
  media_files:

