services:
  web:
    build: .
    container_name: knpp_web
    command: gunicorn config.wsgi:application --bind 0.0.0.0:9005 --workers 3 --timeout 120 --access-logfile - --error-logfile -
    volumes:
      - .:/app
      - media_files:/app/media
    ports:
      - "9005:9005"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
      - DB_HOST=${DB_HOST:-host.docker.internal}
    restart: unless-stopped

volumes:
  postgres_data:
  media_files:

